.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}

.portfolio {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 20px;
}

/* Primeiro Card*/
.card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.card {
    height: 300px;
    width: 400px;
    margin: 3rem 0 0 0;
    background-image: url(../../assets/img/parallax.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    filter: unset;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper h2 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper p {
    font-size: 0;
     visibility: hidden;
     opacity: 0;
     font-weight: bold;
     text-transform: uppercase;
     transition: 0.3s;
     font-family: sans-serif;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid #ffffff;
    opacity: 0;
    transition: 0.3s;
}

.card-text {
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.ver-projeto a {
    text-decoration: none; 
    display: flex;  
    color: rgb(109, 109, 109);
    font-weight: bold;
}

.ver-projeto a:hover {
    color: #000000;
}

.card:hover > .card-wrapper::before {
    opacity: 1;
    width: 350px;
    height: 250px;
}

.card:hover > .card-wrapper p {
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    font-family: 'Montserrat', sans-serif;
}

/* Fim Primeiro Card*/

/* Segundo Card*/

.card-container-segundo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.card-segundo {
    height: 300px;
    width: 400px;
    margin: 3rem 0 0 0;
    background-image: url(../../assets/img/recurso-grafico.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.card-segundo:hover {
    filter: unset;
}

.card-wrapper-segundo {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper-segundo h2 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper-segundo p {
    font-size: 0;
     visibility: hidden;
     opacity: 0;
     font-weight: bold;
     text-transform: uppercase;
     transition: 0.3s;
     font-family: sans-serif;
}

.card-wrapper-segundo::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid #ffffff;
    opacity: 0;
    transition: 0.3s;
}

.card-text-segundo {
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-segundo:hover > .card-wrapper-segundo::before {
    opacity: 1;
    width: 350px;
    height: 250px;
}

.card-segundo:hover > .card-wrapper-segundo p {
    font-size: 14px;
    opacity: 1;
    visibility: visible;
}

/* Fim Segundo Card*/

/* Inicio Terceiro Card*/

.card-container-terceiro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.card-terceiro {
    height: 300px;
    width: 400px;
    margin: 3rem 0 0 0;
    background-image: url(../../assets/img/banner_imc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.card-terceiro:hover {
    filter: unset;
}

.card-text-terceiro {
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-wrapper-terceiro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper-terceiro::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid #ffffff;
    opacity: 0;
    transition: 0.3s;
}

.card-wrapper-terceiro h2 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper-terceiro p {
    font-size: 0;
     visibility: hidden;
     opacity: 0;
     font-weight: bold;
     text-transform: uppercase;
     transition: 0.3s;
     font-family: sans-serif;
}

.card-terceiro:hover > .card-wrapper-terceiro::before {
    opacity: 1;
    width: 350px;
    height: 250px;
}

.card-terceiro:hover > .card-wrapper-terceiro p {
    font-size: 14px;
    opacity: 1;
    visibility: visible;
}
