header {
    /* background-color: rgb(23, 37, 65); */
    background-color: #1F1E38;
    padding: 20px;
    height: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
  }

  ul {
    padding: 0px;
    margin: 0px;
    display: inline;
    list-style: none;
    float: right;
  }

  ul li{
    float: left;
  }

  ul li a{
    display: block;
	  margin-right: 25px;
	  text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }

  ul li a:hover {
    color: #4db5ff;
    border-bottom: 1px solid #4db5ff;
}