/* Inicio da Capa */

.capa {
    height: 100vh;
    background: linear-gradient(-45deg, #0A101B, #172541, #233A68, #2F4F8F);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: backgroundTransition 8s ease-in-out infinite;
}

.capa img {
    border-radius: 48%;
}

.capa p {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 4px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid #ffffff;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

.social-media a:hover {
    color: #172541;
    background-color: #ffffff;
}

@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
}

/* Fim da Capa */

/* Inicio Conteudo Sobre mim */

.sobre-mim {
    margin-top: 60px;
}

.sobre-mim h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-mim p {
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
    text-align: left;
}

/* Fim Conteudo Sobre mim */

@media (max-width: 800px) {

    .social-media {
        display: flex;
        flex-direction: column;
    }

    .sobre-mim p {
        text-align:center;
        padding-left: 25px;
        padding-right: 25px;
    }
    
}